body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0 auto;
    background-color: #f9f9f9;
    color: #090909;
  }
  
  main {
    max-width: 80%;
    height: 100vh;
    padding: 1em;
  }
  
  .container {
    border-collapse: collapse;
    margin: 20px;
  }
  
  .container td {
    width: 60px;
    height: 60px;
    text-align: center;
    vertical-align: middle;
    border: 2px solid #4a90e2;
    font-size: 24px;
    background-color: #e8f8ff;
  }
  
  form {
    display: flex;
    justify-content: center;
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 1em;
  }
  
  .instructions {
    font-size: 1rem;
    margin-bottom: 2em;
  }
  
  .btn {
    font-size: 1em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #007bff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    /* display: flex; */
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  .instructions h3 {
    margin-top: 0;
    padding: 10px;
    background-color: #4a90e2;
    color: white;
    border-radius: 5px;
  }
  
  .instructions ul {
    padding-left: 20px;
  }
  
  .instructions ul li {
    margin-bottom: 10px;
    line-height: 1.6;
    font-size: 1rem;
  }
  
  .instructions {
    margin-bottom: 40px;
    border: 1px solid #4a90e2;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  